# Multiple Time Change
DOWNLOAD_PATH=/media/ms1/Videos
ANIME=true

PREFER_LANGS=GerDub
FALLBACK_LANG=GerSub

INTERCEPTOR_TYPE=Clipboard

TITLE=NAME
URL_START=https://aniworld.to/anime/stream/NAME/

# One Time Change
SIMUL_DOWNLOAD=true
SIMUL_DOWNLOAD_LIMIT=5
API_TOKEN=dsdsddsdsdsdsdsdds
ANIWORLD_SESSION=dsdsddsdsdsdsdsdds
PATH_TO_M3U8_EXTENSION=PATH TO THE EXTENSION
URL_POS=0 0
FIRST_NETWORK_REQUEST_POS=0 0
URL_NETWORK_REQUEST_POS=0 0
URL_COPY_BUTTON=0 0
NETWORK_REQUEST_CLEAR_BUTTON=0 0
CONSOLE_FIELD=0 0